framework netcoreapp3.0, netstandard2.1

source https://www.nuget.org/api/v2

nuget Autofac ~> 4.8
nuget Funcky ~> 1.2.0
nuget Stubble.Core  ~> 1.4.0
nuget IDisposableAnalyzers ~> 2.1.2
nuget JetBrains.Annotations ~> 2018.3.0
nuget Microsoft.NETCore.App ~> 2.2.6
nuget Microsoft.NETCore.Platforms ~> 3.0.0-preview8.19405.3
nuget Moq ~> 4.10
nuget StyleCop.Analyzers ~> 1.1.118
nuget System.CommandLine.Experimental ~> 0.3.0-alpha.19405.1
nuget xunit ~> 2.4.1
nuget xunit.runner.visualstudio ~> 2.4.1
nuget apophis.Lexer ~> 1.3.0
nuget LibGit2Sharp ~> 0.26.2

