framework netcoreapp3.1, netstandard2.1

source https://www.nuget.org/api/v2

nuget Autofac ~> 5.0
nuget Funcky ~> 1.5.1
nuget Stubble.Core  ~> 1.6
nuget JetBrains.Annotations ~> 2019.1
nuget Microsoft.NETCore.App ~> 2.2
nuget Microsoft.NETCore.Platforms ~> 3.1
nuget Moq ~> 4.13
nuget xunit ~> 2.4
nuget xunit.runner.visualstudio ~> 2.4
nuget apophis.Lexer ~> 1.3
nuget LibGit2Sharp ~> 0.26.2
nuget Pastel ~> 1.3
nuget System.CommandLine ~> 2.0.0-beta1.20104.2 

