using System;
using Messerli.Backbone.PluginAbstractions.V0.Http.Routing;
using Messerli.Backbone.PluginAbstractions.V0.Navigation;

namespace Messerli.{{PluginName}}.Registrar
{
    internal sealed class NavigationRegistrar : INavigationRegistrar
    {
        private readonly INavigationRegistry _navigationRegistry;

        public NavigationRegistrar(INavigationRegistry navigationRegistry)
        {
            _navigationRegistry = navigationRegistry;
        }

        public void RegisterNavigation()
            => _navigationRegistry
                .Register(
                    NavigationBar.Global,
                    new Endpoint[0],
                    new NavigationItemBuilder()
                        .Text(new Text("Hello World"))
                        .IconUrl("/database-access-plugin-template/assets/icons/hello-world.svg#icon")
                        .Endpoint(EndpointConstant.HelloWorldPage)
                        .Build());
    }
}
