using Messerli.Backbone.PluginAbstractions.V0.Http.Routing;
using Messerli.{{PluginName}}.Gui;

namespace Messerli.{{PluginName}}.Registrar
{
    internal sealed class RouteRegistrar : IRouteRegistrar
    {
        private readonly IRouteRegistry _routeRegistry;

        private readonly IController _controller;

        public RouteRegistrar(
            IRouteRegistry routeRegistry,
            IController controller)
        {
            _routeRegistry = routeRegistry;
            _controller = controller;
        }

        public void RegisterRoutes()
            => _routeRegistry
                .Register(EndpointConstant.HelloWorldPage, _controller.GetPluginTemplateResponse);
    }
}
