using System.Net.Http;
using Messerli.Backbone.PluginAbstractions.Http.Routing;

namespace Messerli.{{RepositoryName}}.Registrar
{
    internal static class EndpointConstant
    {
        public const string Route = "/hello-world";

        public static readonly Endpoint HelloWorldPage = new Endpoint(
            HttpMethod.Get,
            Route);
    }
}
