using System.Threading.Tasks;
using Messerli.Backbone.PluginAbstractions.V0.Http;
using Messerli.Backbone.PluginAbstractions.V0.PageRendering;

namespace Messerli.{{PluginName}}.Gui.View
{
    public interface IView
    {
        Task<Response> ShowPluginTemplate(IPageRenderer renderer, ViewModel viewModel);
    }
}
