using System.Collections;
using System.Collections.Generic;
using System.Linq;
using System.Threading.Tasks;
using Messerli.Backbone.PluginAbstractions.Http;
using Messerli.Backbone.PluginAbstractions.PageRendering;

namespace Messerli.{{PluginName}}.Gui.View
{
    public sealed class Presenter : IPresenter
    {
        private const string PageTitle = "Hello World";

        private readonly IView _view;
        private readonly PageRendererFactory _rendererFactory;

        public Presenter(IView view, PageRendererFactory rendererFactory)
        {
            _view = view;
            _rendererFactory = rendererFactory;
        }

        public Task<Response> PresentPluginTemplate(Request request, IEnumerable<Database.Person> pluginEntries)
        {
            var viewModel = new ViewModel(
                entries: MapEntries(pluginEntries),
                pageTitle: PageTitle);
            return _view.ShowPluginTemplate(
                CreateTemplateRenderer(request), viewModel);
        }

        private IPageRenderer CreateTemplateRenderer(Request request)
            => _rendererFactory(request);

        private static IEnumerable<Person> MapEntries(IEnumerable<Database.Person> pluginEntries)
            => pluginEntries.Select(item => new Person(item.Surname, item.FirstName));
    }
}
