using System.Threading.Tasks;
using Messerli.Backbone.PluginAbstractions.V0.Http;

namespace Messerli.{{PluginName}}.Gui.View
{
    public interface IPresenter
    {
        Task<Response> PresentPluginTemplate(Request request);
    }
}
