#pragma warning disable CS0660, CS0661

namespace Messerli.{{RepositoryName}}.Gui.View
{
    [Equals]
    public sealed class ViewModel
    {
        public ViewModel(string text, string pageTitle)
        {
            Text = text;
            PageTitle = pageTitle;
        }

        public string Text { get; }

        public string PageTitle { get; }

        public static bool operator ==(ViewModel left, ViewModel right) => Operator.Weave(left, right);

        public static bool operator !=(ViewModel left, ViewModel right) => Operator.Weave(left, right);
    }
}
