using Autofac;
using Messerli.Backbone.PluginAbstractions.V0.Http.Routing;
using Messerli.Backbone.PluginAbstractions.V0.Navigation;
using Messerli.Backbone.PluginAbstractions.V0.PageRendering;
using Messerli.{{PluginName}}.PluginTemplate.Gui;
using Messerli.{{PluginName}}.PluginTemplate.Gui.View;
using Messerli.{{PluginName}}.PluginTemplate.Registrar;

namespace Messerli.{{PluginName}}
{
    internal sealed class {{PluginName}}Module : Module
    {
        private readonly IRouteRegistry _routeRegistry;

        private readonly PageRendererFactory _pageRendererFactory;

        private readonly INavigationRegistry _navigationRegistry;

        public {{PluginName}}Module(
            IRouteRegistry routeRegistry,
            PageRendererFactory pageRendererFactory,
            INavigationRegistry navigationRegistry)
        {
            _routeRegistry = routeRegistry;
            _pageRendererFactory = pageRendererFactory;
            _navigationRegistry = navigationRegistry;
        }

        protected override void Load(ContainerBuilder builder)
        {
            builder.RegisterInstance(_routeRegistry);
            builder.RegisterInstance(_pageRendererFactory);
            builder.RegisterInstance(_navigationRegistry);

            builder.RegisterType<RouteRegistrar>().As<IRouteRegistrar>();
            builder.RegisterType<Controller>().As<IController>();
            builder.RegisterType<View>().As<IView>();
            builder.RegisterType<Presenter>().As<IPresenter>();
            builder.RegisterType<NavigationRegistrar>().As<INavigationRegistrar>();
        }
    }
}
