<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="Default rules for the Update project" ToolsVersion="16.0">
  <Include Path="Style/StyleCop/Default.ruleset" Action="Default" />
  <Include Path="Disposable.ruleset" Action="Default" />
  <Rules AnalyzerId="Microsoft.Analyzers.ManagedCodeAnalysis" RuleNamespace="Microsoft.Rules.Managed">
    <Rule Id="CA1018" Action="Error" /> <!-- Mark attributes with AttributeUsageAttribute -->
    <Rule Id="CA1804" Action="Error" /> <!-- Remove unused locals -->
    <Rule Id="CA1811" Action="Error" /> <!-- Avoid uncalled private code -->
    <Rule Id="CA1813" Action="Error" /> <!-- Avoid unsealed attributes -->
    <Rule Id="CA1823" Action="Error" /> <!-- Avoid unused private fields -->
    <Rule Id="CS1591" Action="Info" /> <!-- Missing XML comment for publicly visible type or member 'TYPE' -->
    <Rule Id="CS1574" Action="Info" /> <!-- XML comment has cref attribute 'IOException' that could not be resolved -->
  </Rules>
</RuleSet>
