<RuleSet Name="Rules for IDisposable Analyzers" ToolsVersion="10.0">
    <Rules AnalyzerId="IDisposableAnalyzers.Correctness" RuleNamespace="IDisposableAnalyzers.Correctness">
        <Rule Id="IDISP001" Action="Error"/>
        <Rule Id="IDISP002" Action="Error"/>
        <Rule Id="IDISP003" Action="Error"/>
        <Rule Id="IDISP004" Action="Error"/>
        <Rule Id="IDISP005" Action="Error"/>
        <Rule Id="IDISP006" Action="Error"/>
        <Rule Id="IDISP007" Action="Error"/>
        <Rule Id="IDISP008" Action="Error"/>
        <Rule Id="IDISP009" Action="Error"/>
        <Rule Id="IDISP010" Action="Error"/>
        <Rule Id="IDISP011" Action="Error"/>
        <Rule Id="IDISP012" Action="Error"/>
        <Rule Id="IDISP013" Action="Warning"/>
        <Rule Id="IDISP014" Action="Error"/>
        <Rule Id="IDISP015" Action="Error"/>
        <Rule Id="IDISP016" Action="Error"/>
        <Rule Id="IDISP017" Action="Error"/>
        <Rule Id="IDISP018" Action="Error"/>
        <Rule Id="IDISP019" Action="Error"/>
        <Rule Id="IDISP020" Action="Error"/>
        <Rule Id="IDISP021" Action="Error"/>
        <Rule Id="IDISP022" Action="Error"/>
        <Rule Id="IDISP023" Action="Error"/>
    </Rules>
</RuleSet>
