namespace Messerli.{{RepositoryName}}
{
    /// <summary>
    /// Your application interface, the Run is the main entry point to your program.
    /// </summary>
    internal interface IApplication
    {
        int Run(string[] args);
    }
}