<?xml version="1.0" encoding="utf-8"?>
<Project xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
	<ItemGroup>
		<PackageReference Update="Autofac" Version="[5.1.2, 6)" />
		<PackageReference Update="Messerli.CodeStyle" Version="1.0.1" />
	</ItemGroup>
</Project>
