<?xml version="1.0" encoding="utf-8"?>
<Project Sdk="Microsoft.NET.Sdk">
  <PropertyGroup>
    <AssemblyName>Messerli.{{PluginName}}.Test</AssemblyName>
    <RootNamespace>Messerli.{{PluginName}}.Test</RootNamespace>
  </PropertyGroup>
  <PropertyGroup>
    <TargetFramework>netcoreapp3.1</TargetFramework>
    <LangVersion>8.0</LangVersion>
    <Nullable>enable</Nullable>
    <TreatWarningsAsErrors>true</TreatWarningsAsErrors>
    <GenerateDocumentationFile>true</GenerateDocumentationFile>
  </PropertyGroup>
  <ItemGroup>
    <ProjectReference Include="..\PluginTemplate\PluginTemplate.csproj" />
  </ItemGroup>
  <ItemGroup>
    <PackageReference Include="Autofac" />
    <PackageReference Include="Fody" />
    <PackageReference Include="Equals.Fody" />
    <PackageReference Include="xunit" />
    <PackageReference Include="xunit.runner.visualstudio" />
    <PackageReference Include="Messerli.Backbone.PluginTestUtility" />
    <PackageReference Include="Messerli.Backbone.PluginTestServer" />
  </ItemGroup>
</Project>
