using System.Threading.Tasks;
using Messerli.Backbone.PluginAbstractions.Http;
using Messerli.{{PluginName}}.Gui.View;

namespace Messerli.{{PluginName}}.Gui
{
    public sealed class Controller : IController
    {
        private readonly IPresenter _presenter;

        public Controller(
            IPresenter presenter)
        {
            _presenter = presenter;
        }

        public Task<Response> GetPluginTemplateResponse(Request request)
            => _presenter.PresentPluginTemplate(request);
    }
}
