using System.Threading.Tasks;
using Messerli.Backbone.PluginAbstractions.Http;

namespace Messerli.{{RepositoryName}}.Gui
{
    public interface IController
    {
        Task<Response> GetPluginTemplateResponse(Request request);
    }
}
