using System.Threading.Tasks;
using Messerli.Backbone.PluginAbstractions.V0.Http;

namespace Messerli.{{PluginName}}.Gui
{
    public interface IController
    {
        Task<Response> GetPluginTemplateResponse(Request request);
    }
}
